<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">CB Shop</a>
    <div class="navbar-collapse collapse w-100">
      {% if url_for(request.endpoint) == '/' or url_for(request.endpoint) == '/home' or url_for(request.endpoint) == '/search' %}
      <ul class="navbar-nav w-100 justify-content-center">
          <li class="nav-item active">
              <form class="form-inline my-2 my-lg-0" action="/search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          </li>
      </ul>
      {% endif %}
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            {% if current_user.is_anonymous %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/signup'>Sign Up</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart ({{ cart_no }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile')}}">{{ user.username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Sign out</a>
            </li>

            {% endif %}
        </ul>
    </div>
</nav>