<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">Circuit Breaker Shop</a>
    <form class="form-inline my-2 my-lg-0 px-auto">
      <input class="form-control pr-auto" style="width:500px" type="search" placeholder="Search for products..." name="q" aria-label="Search">
    </form>
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
    </ul>
</nav>