{% extends "base.html" %}
{% block title %}CB Shop - Forgot Password {% endblock %}
{% from "includes/_formHelper.html" import render_field %}



{% block content %}
<style>
    h1, form {
        margin-left: 100px;
        margin-top: 50px;
    }

    button {
        background-color: light grey;
        border-radius: 8px;
    }
</style>

<h1>Forgot Password</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function delete_flash(flash){
        $(flash).parent().remove()
    }
</script>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <i class="close icon" onclick=delete_flash(this)>
                <span aria-hidden="true">&times;</span>
                </i>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST" action="">
    {{ form1.hidden_tag() }}

    <p>
    {{ form1.email.label }} <br>
    {{ form1.email(size=32, autocomplete="off") }} <br>
    {% for error in form1.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    {% if form1.validate_on_submit() %}
    {% else %}
    <button type="submit">Submit</button>
    {% endif %}


    {% if form1.validate_on_submit() %}
    {{ form11.hidden_tag() }}
    <p>
    {{ form11.security_questions.label }} <br>
    {{ form11.security_questions(size=1) }} <br>
    {% for error in form11.security_questions.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>

    <p>
    {{ form11.security_questions_answer.label }} <br>
    {{ form11.security_questions_answer(size=32, autocomplete="off") }} <br>
    {% for error in form11.security_questions_answer.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>

    {% if form11.validate_on_submit() %}
    {% else %}
    <button type="submit">Submit</button>
    {% endif %}


    {% if form11.validate_on_submit() %}
    {{ form2.hidden_tag() }}
    <p>
        {{ form2.security_questions.label }} <br>
        {{ form2.security_questions(size=1) }} <br>
        {% for error in form2.security_questions.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form2.security_questions_answer.label }} <br>
        {{ form2.security_questions_answer(size=32, autocomplete="off") }} <br>
        {% for error in form2.security_questions_answer.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form2.newpassword.label }} <br>
        {{ form2.newpassword(size=32, autocomplete="off") }} <br>
        {% for error in form2.newpassword.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form2.newconfirmPassword.label }} <br>
        {{ form2.newconfirmPassword(size=32, autocomplete="off") }} <br>
        {% for error in form2.newconfirmPassword.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <button type="submit">Reset password</button>

    {% endif %}
    {% endif %}

</form>
{% endblock %}
