{% extends "base.html" %}
{% block title %}CB Shop{% endblock %}


{% block style %}
<style>
div.item-container{
    margin: 20px 20px;
    padding: 20px 0px 40px 52.5px;
    border: 1px #c2c2c238 solid;
    border-radius: 5px;
    background-color: WhiteSmoke;
}

div.item-container-active{
    margin: 20px 20px;
    padding: 20px 0px 40px 52.5px;
    border: 1px #c2c2c238 solid;
    border-radius: 5px;
    background-color: #7d7d7d;
    transform: scale(1.05);
}

span.item-name{
    font-weight: bold;
    word-wrap: break-word;
    width: 150px
}

span.item-price{

}

div.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

div.overlay-item{
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    background-color: LightGrey;
    border: 1px black solid;
    border-radius: 15px;
    padding: 5%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

img.item-image-mini{
    height: 150px;
    width: 150px;
}

img#item-image{
    display:inline-block;
    vertical-align: middle;
}

div#item-details{
    display:inline-block;
    vertical-align: middle;
}

div#item-details > span{
    margin: 5px 0px;
}

textarea{
    height:150px;
    width:250px;
    resize: none;
}
</style>
{% endblock %}


{% block content %}
<div>Search Result for {{ query }}</div>
{% for i in range(length) %}
    <div class="col col-2 item-container" id="{{ products[i][0] }}">
        {% if products[i][2] is none %}
        <img src="../static/img/None.png" class="item-image-mini">
        {% else %}
        <img src="../static/img/{{ products[i][2] }}" class="item-image-mini">
        {% endif %}
        <br>
        <span class="item-name">{{ products[i][0] }}</span>
        <br>
        <span class="item-price">Price: {{ "${:.2f}".format(products[i][1]) }}</span>
    </div>

    {% if (i+1) % 4 == 0 and i != 0 %}
    </div>
    <div class="row">
    <div class="col col-1"></div>
    {% endif %}

{% endfor %}
</div>

<div class="overlay">
    <div class="overlay-item">
        <div class="row">
            <div class="col">
                <img src="" id="item-image">
                    <div id="item-details"></div>
                <hr>
                <span>Description:</span>
                <p id="item-desc"></p>
                <form class="add-cart" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button class="btn btn-primary" type="submit">Add To Cart</button>
                </form>
            </div>
            <div class="col">
                <div class="row">
                    <h6>Reviews</h6>
                </div>
                <div class="row">
                    <textarea class="reviews" disabled></textarea>
                </div>
                <div class="row" style="margin-top:10%">
                    <h6>Enter a review</h6>
                </div>
                <div class="row input">
                    <form id="form-review" action="" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <textarea form="form-review" name="comment" style="height:200px; width:300px; resize: none"></textarea>
                        <br>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block function %}
<script src="../static/js/Shop.js"></script>
{% if user is none %}
<script src="../static/js/login-first.js"></script>
{% else %}
<script src="../static/js/Product.js"></script>
{% endif %}
{% endblock %}