{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% from "includes/_formHelper.html" import render_field %}

{% block content %}
<form method="POST" action="" novalidate>
        <form method="post" action="login.html">
        <p><input type="text" name="search" value="" placeholder="Search text"></p>
        <p class="search_text">
        <label>
        <input type="checkbox" name="search_text" id="search_text">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }} <br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }} <br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <button type="submit">login!</button>

        <p>
            Not registered? <a href="{{ url_for('signup') }}">Sign up here!</a>
        </p>

</form>
{% endblock %}
