{% extends "base.html" %}
{% block title %}CB Shop - Payment{% endblock %}



{% from "includes/_formHelper.html" import render_field %}
{% block content %}

<h1>Payment form</h1>

<style>
    h1, form {
        margin-left: 100px;
        margin-top: 50px;
    }

    button {
        background-color: light grey;
        border-radius: 8px;
        left: 600px;
        position: absolute;
    }

    form {
        padding-bottom: 100px;
    }
</style>

<form method ="POST" action="">
    {{ form.hidden_tag() }}
    <h3 style="margin-top:30px;">Billing Address</h3><br>
    <p>
        {{ form.name.label }} <br>
        {{ form.name(size=70) }} <br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }} <br>
        {{ form.email(size=70) }} <br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.address.label }} <br>
        {{ form.address(size=70) }} <br>
        {% for error in form.address.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.country.label }} <br>
        {{ form.country(size=70) }} <br>
        {% for error in form.country.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.city.label }} <br>
        {{ form.city(size=70) }} <br>
        {% for error in form.city.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.zip.label }} <br>
        {{ form.zip(size=6) }} <br>
        {% for error in form.zip.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <h3 style="margin-top:30px;">Payment</h3><br>

    <p>
        {{ form.cardName.label }} <br>
        {{ form.cardName(size=70) }} <br>
        {% for error in form.cardName.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.cardNum.label }} <br>
        {{ form.cardNum(size=16, maxlength=16) }}
        {% for error in form.cardNum.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.expmonth.label }} <br>
        {{ form.expmonth(size=1) }}
        {{ form.expmonth() }} <br>

        {% for error in form.expmonth.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        /
        {{ form.expyear(size=1) }} <br>
        {% for error in form.expyear.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.cvv.label }} <br>
        {{ form.cvv(size=1, maxlength=3) }} <br>
        {% for error in form.cvv.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <button type="submit">Submit</button>

</form>

{% endblock %}