{% extends "base.html" %}
{% block title %}payment page{% endblock %}
{% block style %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}


<form method ="POST" action="" style="margin:auto;border-style:solid;border-width:1px;border-radius:5px;width:40%;margin-bottom:20px;margin-top: 20px;">
    <div style="text-align:left;margin:auto;padding-left:20%;padding-right:20%;padding-bottom:10%;margin-bottom:5%;">
        <h3 style="margin-top:30px;">Billing Address</h3><br>
        <div class="form-group">
        {{ render_field(form.name, class="form-control") }}
        </div>
        <div class="form-group">
        {{ render_field(form.email, class="form-control") }}
        </div>
        <div class="form-group">
        {{ render_field(form.address, class="form-control") }}
        </div>
        <div class="form-group">
        {{ render_field(form.country, class="form-control") }}
        </div>
        <div class="form-group">
        {{ render_field(form.city, class="form-control") }}
        </div>
        <div class="form-group">
        {{ render_field(form.zip, class="form-control") }}
        </div>

        <h3>Payment</h3><br>
        <div>Accepted Cards</div>
        <div class="icon-container">
          <i class="fa fa-cc-visa" style="color:navy;"></i>
          <i class="fa fa-cc-amex" style="color:blue;"></i>
          <i class="fa fa-cc-mastercard" style="color:red;"></i>
          <i class="fa fa-cc-discover" style="color:orange;"></i>
        </div><br>
        <div class="form-group">
        {{ render_field(form.cardName, class="form-control") }}
        </div>
        <div class="form-group">
        {{ render_field(form.cardNum, class="form-control") }}
        {% if invalid == 'Invalid card' %}
            <span style="color:red;">{{ invalid }}</span>
        {% endif %}
        </div>
        <div class="form-group">
        {{ render_field(form.expmonth, class="form-control") }}
        </div>
        <div class="form-group">
        {{ render_field(form.expyear, class="form-control") }}
        </div>
        <div class="form-group">
        {{ render_field(form.cvv, class="form-control") }}
        </div>
        <div class="form-group">
        {{ render_field(form.rmb, class="form-control",style="height:13px;width:13px;display:inline;") }}Remember me
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>

</form>

{% endblock %}