{% extends "base.html" %}
{% block title %}CB Shop - Sign Up{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<style>
    h1, form {
        margin-left: 100px;
        margin-top: 50px;
    }

    button {
        background-color: light grey;
        border-radius: 8px;
        left: 600px;
        position: absolute;
    }

    form {
        padding-bottom: 100px;
    }
</style>

{% if error %}
<script>
    alert("Username is taken!")
</script>
{% endif %}
<h1>
    Update Profile
</h1>

<form name="update_form" method="POST" action="/api/update_profile/update">
    <h3>
        Enter new username
    </h3>
    <input name="update_username">
    <button type="submit">Confirm Change</button>
</form>

{% endblock %}